<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.programmersbox.mangaworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MangaWorldApp"
        android:allowBackup="true"
        android:icon="@drawable/manga_world_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/manga_world_round_logo"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity
            android:name=".BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".DeepLinkActivity">
            <intent-filter android:label="View Manga">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="manganelo.com"
                    android:pathPrefix="/manga" />
                <data
                    android:host="m.manganelo.com"
                    android:pathPrefix="/manga" />
                <data android:host="www.mangaeden.com" />
                <data
                    android:host="manga4life.com"
                    android:pathPrefix="/manga" />
                <data android:host="www.mangahere.cc" />
                <data android:host="mangakakalot.com" />
                <data
                    android:host="www.nineanime.com"
                    android:pathPrefix="/manga" />
                <data android:host="www.tsumino.com" />
                <data android:host="api.mangarockhd.com" />
                <data
                    android:host="mangapark.net"
                    android:pathPrefix="/manga" />
                <data
                    android:host="api.mangamutiny.org"
                    android:pathPrefix="/v1/public/manga" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>

        <service
            android:name=".UpdateCheckService"
            android:exported="false" />

        <receiver android:name=".UpdateReceiver" />

        <activity android:name=".SettingsActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity
            android:name=".ReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Reading" />
        <activity android:name=".MangaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MangaWorldTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/thumb"
            android:label="Manga Updates"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="com.programmersbox.mangaworld.utils.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>